@import "dynamic:lookandfeel.less";

// Tint the gradient steps based off the chosen look and feel colour
@heroButtonTopBGColour: @heroButtonBaseBGColour;
@heroButtonBottomBGColour: darken(@heroButtonTopBGColour, 6.8%);
@heroButtonHoverTopBGColour: saturate(lighten(@heroButtonTopBGColour, 9%), 22);
@heroButtonHoverBottomBGColour: desaturate(lighten(@heroButtonBottomBGColour, 2%), 2);
@heroButtonActiveBGColour: darken(@heroButtonBaseBGColour, 5%);

.aui-header {
    background: @topBackgroundColour;
    color: @topTxtColour;
    border-bottom-color: @topSeparatorBackgroundColor;
}

.aui-header {
    a {
        color: @topTxtColour;

        &:hover,
        &:focus {
            background-color: @topHighlightColor;
            color: @topTextHighlightColor;
        }
    }

    .aui-icon-dropdown,
    .aui-dropdown2-trigger::after {
        border-top-color: fadeout(@topTxtColour, 30%);
    }

    .aui-dropdown2-trigger {
        color: @topTxtColour;

        &:hover,
        &:focus,
        &.active {
            background-color: @topHighlightColor;
            color: @topTextHighlightColor;

            .aui-icon-dropdown,
            &::after {
                border-top-color: @topTextHighlightColor;
            }
        }
    }
    .aui-button.aui-button-primary.aui-style {
        color: @heroButtonTextColour;
        background-color: @heroButtonTopBGColour;

        &:hover,
        &:focus {
            background-color: @heroButtonHoverTopBGColour;
        }
        &:active {
            background-color: @heroButtonActiveBGColour;
        }
    }
}
