@import "webstatic:/ui/global.less";

.two-d-container {
    .table-container {
        margin-top: auto; // fix IE 9 CSS bug: http://stackoverflow.com/questions/5788726/add-remove-css-will-cause-ie9-to-increase-the-tables-height
        overflow: auto;

        .extra-container {
            display: table;
            padding: 0 15px;
            width: 100%;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }
    }

    table.aui {
        th, td {
            font-weight: normal;
            padding: 7px;
            vertical-align: middle;

            a {
                color: @jira-color-link;

                &:hover,
                &:focus,
                &:active {
                    color: @jira-color-active-link;
                    text-decoration: underline;
                }
            }
            img {
                vertical-align: text-bottom;
            }
        }
        thead th,
        tbody tr:last-child td.totals {
            padding: 13px 7px;
        }
        .axis {
            font-weight: 700;
        }

        th > img:first-child {
            // if the icon fails to render, alt text will be a duplicate of the cell text, so we don't need it to be visible
            color: transparent;
            display: inline-block;
            margin-right: 5px;
            overflow: hidden;
        }

        tbody {
            .scope {
                background-color: transparent;
                min-width: 140px;
            }

            .totals {
                background-color: #f5f5f5;
                font-weight: 700;

                &:last-child {
                    border-left: 1px solid #ccc;
                }
            }
        }

        /* components icons */
        .default_image {
            background-position: 5px 50%;
            background-repeat: no-repeat;
            padding-left: 23px;

            &.default_image_component {
                background-image: url("../../../images/icons/icon16-components.png");
            }
            &.unreleased_archived_version {
                background-image: url("../../../images/icons/box_fade_16.gif");
            }
            &.released_unarchived_version {
                background-image: url("../../../images/icons/package_16.gif");
            }
            &.unreleased_unarchived_version {
                background-image: url("../../../images/icons/box_16.gif");
            }
            &.released_archived_version {
                background-image: url("../../../images/icons/package_fade_16.gif");
            }
        }
    }

    .data-footer {
        color: #666;
        overflow:hidden;
        white-space: nowrap;
        text-align: right;
        padding: 10px 15px;

        p {
            margin: 0;
            a {
                cursor: pointer;
            }
        }

        .filter {
            overflow: hidden;
            text-overflow: ellipsis;
            text-align: left;
            white-space: nowrap;
            min-width: 40%;
        }

        .numbers {
            padding-left: 15px;
            float: right;
            white-space: nowrap;
            text-align: right;
        }
    }

    &.h-scrollbar tbody tr:last-child {
        border-bottom-width: 0;
    }

    .aui-message-warning, .aui-message-error {
        margin: 10px;
    }

    form.aui .buttons-container .cancel {
        position: relative;
        top: 1px;
    }

}
