@import "webstatic:/ui/global.less";

@border-color: orange;
@border-width: 2px;
@dialog-width: 300px;
@dialog-padding: 15px;
@dialog-progress-height: 30px;
@issue-header-image-padding: 10px;
@label-width: 100px;
@avatar-large-size: 48px;
@avatar-small-size: 24px;
@content-padding: 20px;
@workflow-width: 252px;
@workflow-height: 382px;
@workflow-border: 1px;

.onboarding-nutshell {
    .content {
        background: @aui-color-faint;
        .bordered();
        .border-radius(3px);
        padding: @content-padding;
        height: @workflow-height + 2 * @content-padding + 2 * @workflow-border + 10px; // extra allowance due to display: table-cell
        position: relative;
        
        .project-list {
            tr {
                background: none;
            }
            
            tr:first-child td {
                border-top: none;
            }
            
            td[data-cell-type="name"] {
                vertical-align: middle;
            }
        }
        
        .issue {
            padding: 10px;
            
            .issue-content {
                margin-left: @avatar-large-size;
            
                .property-list {
                    padding: 0 @issue-header-image-padding;
                    
                    .wrap {
                        padding-left: @label-width;
                    }
                    
                    .item {
                        .name {
                            margin-left: -@label-width;
                            width: @label-width;
                            text-align: left;
                            line-height: @avatar-small-size;
                        }
                        
                        .value {
                            line-height: @avatar-small-size;
                        }
                    }
                    
                    .assignee-name {
                        vertical-align: top;
                        margin-left: 5px;
                    }
                }
                
                .opsbar {
                    margin-bottom: 10px;
                }
            }            
        }
        
        .workflow {
            width: @workflow-width;
            padding: 0;
            
            svg {
                background: #fff;
                width: @workflow-width;
                height: @workflow-height;
                border: @workflow-border solid @aui-border-color;
            }
        }
        
        .done-trigger,
        .workflow-done-trigger,
        .issue-trigger,
        .project-list-trigger {
            display: inline-block;
            width: @dialog-width;
            height: 0;
            padding: 0 @dialog-padding;
        }
        
        .workflow-done-trigger,
        .done-trigger {
            position: absolute;
            bottom: 0;
            left: -(@dialog-width / 2 - @dialog-padding);
        }
    }
}

#inline-dialog-nutshellDialog .contents {
    width: @dialog-width;
    padding: @dialog-padding;
    border-width: @border-width;
    border-color: @border-color;
    
    p {
        margin-bottom: @dialog-padding;
    }
    
    span {
        color: @aui-color-mid;
        display: inline-block;
        float: right;
        line-height: @dialog-progress-height;
    }
}

#arrow-nutshellDialog {
    &::before {
        border-color: @border-color transparent;
    }
    
    &.n::after {
        top: @border-width;
    }
    
    &.s::after {
        top: -@border-width;
    }
}
