@import "webstatic:/ui/global.less";

.next-step-sequence-steps {
    margin: 40px 20px;
    text-align: center;

    .next-step-wrapper {
        width: 30%;
        text-align: center;
        display: inline-block;
        margin-bottom: 20px;

        .next-step {
            display: inline-block;

            &:hover {
                .next-step-label {
                    text-decoration: underline;
                }
            }

            .next-step-icon {
                margin-bottom: 10px;
            }

            .next-step-label {
                color: @aui-color-link;
            }
        }
    }
}