.g-admin {

  padding: .5em 1em;

  .nearExpiry {
    background-color: #fffdf6;
    color: #333;
  }

  .notNearExpiry {
    background-color: #f3f9f4;
    color: #333;
  }

  .userLimitExceeded {
    color: #d04437;
  }

  .notUserLimitExceeded {
    color: #333;
  }

  .userLimitColor {
    background-color: #fff;
  }

  #warningMessages em,
  .red-highlight {
    color: #d04437;
    font-style: normal;
  }

  #licenseExpiryStatusMessage br {
    display: none;
  }

  .admin-getting-started-content,
  .admin-do-more-content,
  .admin-license,
  .admin-docs,
  .admin-warnings,
  .unhide-section {
    position: relative;
    content: "";
    display: block;
    margin-right: 0;
    width: 100%
  }

  .admin-getting-started-img,
  .admin-do-more-img,
  .admin-docs-img,
  .admin-license-img,
  .admin-warnings-img {
    width: 48px;
    height: 48px;
    display: block;
    float: left;
  }

  .admin-item-content {
    margin-left: 72px;
  }

  .admin-license,
  .admin-docs {
    margin-bottom: 15px;
  }

  .license-content {
    text-align: center;
    padding-top: 1.5em;
  }

  .license-title {
    font-size: 16px;
    font-weight: bold;
  }

  .license-warning {
    font-weight: bold;
    font-size: 13px;
  }

  .admin-task-list {
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
  }

  ul.admin-task-list {
    list-style: none;
    padding: 0;
    margin: 0 0 1em;
  }

  .admin-task {
    background-color: #fffdf6;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #fff;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 8px;

    &:hover {
      background-color: #fff;
    }

    &:active {
      background-color: #fff;
    }

    .admin-task-content {
      cursor: pointer;
      vertical-align: middle;
      display: inline;
      width: 85%;
      padding: 10px 5px;
    }

    a.admin-task-content,
    a.admin-task-content:hover,
    a.admin-task-content:focus {
      text-decoration: none;
    }
  }

  .admin-task-completed {
     .admin-task-content {
       text-decoration: line-through;
     }

    a.admin-task-content,
    a.admin-task-content:hover,
    a.admin-task-content:focus {
      text-decoration: line-through;
    }

    .admin-task-checkbox {
      background-image: url("checkbox-24-checked.png");
    }
  }

  .admin-task-disabled a.admin-task-content,
  .admin-task-disabled a.admin-task-content:hover,
  .admin-task-disabled a.admin-task-content:focus {
    text-decoration: none;
    color: #707070;
  }

  .admin-task-checkbox-w {
    display: inline;
    width: 24px;
    vertical-align: middle;
    padding-right: 8px;
  }

  .admin-task-checkbox {
    outline-width: 0;
    background: url("checkbox-24-normal.png") no-repeat;
    cursor: pointer;
    height: 24px;
    width: 24px;
    display: inline-block;
    vertical-align: middle;
  }

  .hide-admin-tasks, .admin-unhide-section {
    text-align: right;
  }

}