@import "../../../style/clearfix";

form.aui .field-value.success {color:#14892c;}

.piechart-gadget .piechart-with-legend {
    text-align: center;
}

.piechart-gadget {
  padding: 20px;
  min-height: 50px;
  overflow-x: hidden;
}


//PIE CHART
.piechart.centered {
  display:block;
  margin: auto;
}

.piechart-arc {
  &.clickable {
    cursor:pointer;
  }

  &.piechart-arc-highlighted {
    .piechart-fill {
      opacity: 0.75;
      -webkit-transition: opacity 0.1s;
      transition: opacity 0.1s;
    }
  }
}

.piechart-fill {
  opacity: 0.5;
}

.gadget form.aui {
  padding-bottom:15px;
}

form.aui div.quick-find input.text{
  width: 250px;
}

.piechart-center-primary {
  font-size: 48px;
  text-align: center;
  line-height: 48px;
  padding-top: 15px; //Get it better aligned vertically
}

.piechart-center-secondary {
  color: #333333;
}

.piechart-inline-dialog {
    padding: 20px;
    .piechart-inline-dialog-title {
        width: 100%;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow:hidden;
        display: inline-block;
    }
}


.grouped-sector-inline-dialog ul {
    list-style: none;
    padding: 0;
    max-height: 150px;
    overflow: auto;

    li {
        width: 100%;
        .grouped-list-label {
            width: 90%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            display: inline-block;
        }

        .item-value {
            float: right;
        }
    }
}
//LEGEND

.legend-icon {
  float: left;
  margin-top: 2px;
  margin-right: 10px;
}

.legend-content {
  padding: 5px 10px;
  color: #333;
  vertical-align: middle;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}


.legend-item-label-wrapper {
    .clearfix();
}

//Elipsify sublist content
.legend-item-label {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: top;
    padding-right: 5px;
}

.legend-sublist-container {
    max-height: 100px;
    overflow-y: auto;


    .legend.sublist {
        .legend-content {
            padding: 2px 0;
        }
    }
}

.legend-item-value {
  float: right;
}

.legend-title h3 {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}



.legend-item {
  border-top: 1px solid #ccc;

  &:last-child {
    border-bottom: 1px solid #ccc;
  }

  &:hover {
    background-color: #eee;

    .piechart-fill {
      opacity: 0.75;
      -webkit-transition: opacity 0.1s;
      transition: opacity 0.1s;
    }
  }
}
