body#jira {

    //Header hiding
    .aui-header {
        .aui-header-primary {

            //Hide all children of the primary header except the logo.
            > *:not(#logo) {
                display: none;
            }
        }

        //Hide all but help and user
        .aui-header-secondary {
            ul.aui-nav > li:not(#user-options):not(#system-help-menu) {
                display: none;
            }
        }
    }


    //Hide all user options in the dropdown except log out
    #user-options-content {

        .aui-dropdown2-section {
            border: none;

            //remove section titles
            strong {
                display: none;
            }

            //remove links, except logout
            ul {
                margin: 0;

                a:not(#log_out) {
                    display: none;
                }
            }
        }
    }

    //Hide the keyboard shortcuts and what's new dialogs, since neither are enabled in onboarding
    #system-help-menu-content {
        #keyshortscuthelp,
        #whats-new-menu-link {
            display: none;
        }
    }


    //Hide any flags, this can show up for url context paths not matching.
    #aui-flag-container {
        display: none;
    }


    #footer {
        display: none;
    }
}
