
.piechart-with-legend {
    .piechart-wrapper {
        display: inline-block;
        margin-right: 20px;
    }

    .legend-wrapper {
        display: inline-block;
        text-align: left;
        vertical-align: top;
        width: 100%;
        max-width: 320px;
    }
}

.piechart-with-legend .legend-wrapper,
.legend-sublist-container {
    ul.legend {
        list-style: none;
        padding: 0;
    }
}
