@adg-silver:  #e9e9e9;
@grid: 5px;
@table-padding: @grid * 3;

.stats-gadget {

  max-width: 100%;
  overflow: auto;
  padding-bottom: @table-padding;
  padding-left: @table-padding;
  padding-right: @table-padding;

  & > .aui-message {
    margin-top: @grid * 2;

    &:first-child {
      margin-bottom: 0;
    }
  }

  .dashboard-item-preferences-config {
    min-width: @grid * 100;
  }

  // aui overrides
  table.aui {
    & > thead > tr.stats-gadget-table-header {
      & > th {
        @header-padding: @grid * 2;
        padding-top: @header-padding;
        padding-bottom: @header-padding;
        vertical-align: middle;

        &.stats-gadget-numeric {
          text-align: right;
        }
      }
    }
    & > tbody > tr {
      &.stats-gadget-final-row {
        background-color: @adg-silver;
        font-weight: bold;
      }
      & > td.stats-gadget-numeric {
        text-align: right;
      }
      & > td.stats-gadget-progress-indicator {
        vertical-align: middle;
      }
    }
  }
}